---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Display from "../components/Display.astro";
import Outro from "../components/Outro.astro";
---

<Layout title="Simon's Hot Chocolate Journey">
  <main>
    <Hero />
    <Display />
    <Outro />
  </main>
</Layout>
